frontend frontend
        bind "$DSTHOST":"$DSTPORT"
        mode tcp
        log global
        option tcplog
        timeout client 3600s
        backlog 4096
        maxconn 50000
        default_backend backend

backend backend
        mode tcp
        option log-health-checks
        option redispatch
        option tcplog
        balance roundrobin
        server backend_host "$SRCHOST":"$SRCPORT"
        timeout connect 2s
        timeout queue 5s
        timeout server 3600s
